body{
    background-color:rgb(147, 185, 225);
}

#container{
    text-align:center;
}

.button{
    border-radius: 20px;
    background-color:aliceblue;
}

.button:hover{
    background-color:lightslategray; 
}

ul{
    list-style-type: none;
}